.logop{
    height: 4rem;
}
nav {
    transition: all 0.3s ease-in-out;
    backdrop-filter: blur(12px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-animate {
    opacity: 0;
    transform: translateY(-10px);
    animation: fadeSlideDown 0.25s ease-out forwards;
  }
  
  @keyframes fadeSlideDown {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .dropdown-animate {
    transition: all 0.3s ease;
  }
  
  